{% extends 'blog/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-lg-6 col-md-8 mx-auto">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Вы уверены, что хотите удалить статью "{{ object.title }}"?</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <a class="btn btn-block btn-outline-primary" href="{% url 'blog:article_list' %}"
                       role="button">Отменить</a>
                    <button type="submit" class="btn btn-block btn-outline-primary">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}