{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}
<div class="row text-center justify-content-center">
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <img src="{{ object.image | media_filter }}" class="card-img-top">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
            </div>

            <div class="card-body">
                <h2 class="card-title pricing-card-title">{{ object.price }} руб.</h2>
                {% if product.category %}
                <p class="text-start"><u>Категория:</u> {{ object.category.name }}</p>
                {% endif %}
                <p class="text-start"><u>Описание:</u> {{ object.description }}</p>

                <p class="list-unstyled mt-3 text-start "><u>Добавлен:</u> {{ object.created_at | date:"d M Y" }}</p>
                <p class="list-unstyled mt-3 text-start"><u>Изменен:</u> {{ object.upload_at | date:"d M Y" }}</p>
                <a class="btn btn-block btn-outline-primary" href="{% url 'catalog:product_list' %}"
                   role="button">Назад</a>
                {% if user.is_authenticated %}
                <a class="btn btn-block btn-outline-primary" href="{% url 'catalog:product_update' product.pk %}"
                   role="button">Редактировать</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}