{% extends 'catalog/base.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-6 col-md-8 mx-auto">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                {% if object %}
                <h4 class="my-0 font-weight-normal">Изменить товар</h4>
                {% else %}
                <h4 class="my-0 font-weight-normal">Добавить новый товар</h4>
                {% endif %}
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if object %}
                    <button type="submit" class="btn btn-block btn-outline-primary">Изменить</button>
                        {% if perms.catalog.delete_product or user == object.owner %}
                        <a class="btn btn-block btn-outline-danger" href="{% url 'catalog:product_delete' product.pk %}"
                           role="button">Удалить</a>
                        {% endif %}
                    {% else %}
                    <button type="submit" class="btn btn-block btn-outline-primary">Добавить</button>
                    {% endif %}
                    <a class="btn btn-block btn-outline-primary" href="{% url 'catalog:product_list' %}"
                       role="button">Назад</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}